@use 'reset.scss';
@use 'fonts.scss';

// Colors
$dark-green: #052e1c;
$light-green: #61785e;
$dark-blue: #121c3e;
$light-blue: #536ce5;
$red: #bf3b15;
$yellow: #f3b421;
$peach: #f5bfaf;
$not-white: #fff1e2;

html.full-height {
	height: 100%;
	min-height: 50rem;

	body {
		height: 100%;
		min-height: 100%;
	}
}

body {
	background-color: $not-white;
	color: $dark-blue;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	display: flex;
	font-family: 'Judson', serif;
	font-size: 1.125rem;
}

.photo-background {
	background-image: url("../assets/photo-92-web.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
}

a {
	// color: $peach;
	text-decoration: none;

	&:hover {
		opacity: 0.8;
		// transform: scale(1.05);
	}

}

button,
.button,
a.button {
	cursor: pointer;
	color: $yellow;
	border: none;
	font-size: 1rem;

	&:hover {
		opacity: 1;
		background-color: $yellow;
		color: $dark-blue;
	}

}

.logo {
	width: 70%;
	height: auto;
	padding: 2rem 0 0;
}

.logo-wrapper h1 {
	margin: 0;
}

// Columns
.container {
	// display: flex;
	// flex-wrap: wrap;
	max-width: 80rem;
	margin-left: auto;
	margin-right: auto;
	padding: 1rem;
	flex: auto;
	align-self: center;
}

.row {
	width: 100%;
	flex-direction: row;
	flex-wrap: wrap;
}

.row,
.row>div[class*="col-"] {
	display: flex;
	flex: 0 auto;
	justify-content: center;
}

.col-centered {
	justify-content: center;
	/* center flex items horizontally */
	align-items: center;
	/* center single-line flex items vertically */
	align-content: center;
	/* center multi-line flex items vertically */
}

.col-1 {
	width: 8.33%
}

.col-2 {
	width: 16.66%;
}

.col-3 {
	width: 25%;
}

.col-4 {
	width: 33.33%;
}

.col-5 {
	width: 41.66%
}

.col-6 {
	width: 50%;
}

.col-7 {
	width: 58.33%
}

.col-8 {
	width: 66.66%
}

.col-9 {
	width: 75%;
}

.col-10 {
	width: 83.33%;
}

.col-11 {
	width: 91.66%;
}

.col-12 {
	width: 100%;
}

// Mobile
@media screen and (max-width: 840px) {

	col-1,
	.col-2,
	.col-3,
	.col-4,
	.col-5,
	.col-6,
	.col-7,
	.col-8,
	.col-9,
	.col-10,
	.col-11,
	.col-12 {
		width: 100%;
	}

	.mobile-hide {
		display: none !important;
	}

	.container {
		max-width: 30rem;
		height: 100%;
		padding: 0 1rem;

	}

	.full-height-mobile {
		height: 100%;
	}

	.col-4-mobile {
		width: 33%;
		background-color: transparent !important;
	}

	.info-pane {
		padding-top: 0 !important;
	}

	.photo-background {
		background-image: url("../assets/film-photo-18.jpg");
		// background-position: center -2rem;
		background-attachment: fixed;
	}

	.logo {
		height: 10rem;
		padding: 1rem;
		width: auto;
		background: $red;
		border-radius: 0 0 10px 10px;
	}

	.row>div[class*="col-"] {
		padding: 0.5rem;
	}

	.info-wrapper {
		background-color: $red;
		border-radius: 10px;
		box-shadow: 0px 3px 6px rgb(0 0 0 / 30%);
		margin-top: 16rem;
		margin-bottom: 1rem;
	}

	.details-wrapper {
		background: $red;
		padding: 0.5rem;
		border-radius: 10px;
		margin-bottom: 0 !important;
	}

	.form-wrapper {
		padding: 1rem !important;
		// text-align: left;
	}

}

.details-wrapper {
	margin-bottom: 1rem;

	h2 {
		margin: 0;
	}
}

.buttons-wrapper {
	flex-direction: row !important;
	gap: 1rem;

	.button {
		flex: 1;
	}
}

// Desktop
@media screen and (max-width: 1000px) {}

div[class*="col-"] {
	display: flex;
	flex-direction: column;
	padding: 0.5rem;
}

// Type
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "judson", "serif";
	font-weight: bold;
}

h1 {
	font-size: 6rem;
	font-family: 'Boldfinger', sans-serif;
	text-transform: uppercase;
	color: $dark-blue;
	letter-spacing: 0.2rem;
	font-weight: normal;
	margin-top: 0.5rem;
	margin-bottom: 1.5rem;
}

h2 {
	font-size: 1.5rem;
	line-height: 0.9;
	text-transform: uppercase;

	&.boldfinger {
		font-family: 'Boldfinger', sans-serif;
		font-weight: normal;
		letter-spacing: 0.2rem;
		color: $red;
	}
}

p {
	margin-top: 0;
}

.subheading {
	font-size: 1.125rem;
	font-style: italic;
	font-weight: normal;
}

.filigree {
	text-align: center;

	h1 {
		margin-bottom: 0;
	}

	h2 {
		margin-top: 0;
	}

	&:before {
		content:"";
		display:flex;
		height: 40px;
		width: 60px;
		background-image: url('../assets/filigree.svg');
		background-size: cover;
		background-position: center;
		margin: auto;
	}

	&:after {
        content:"";
        display:flex;
        height: 40px;
        width: 60px;
        background-image: url('../assets/filigree.svg');
        background-size: cover;
        background-position: center;
        margin: auto;
		transform: rotate(180deg);
	}
}

.subtitle,
.button {
	font-family: 'Boldfinger', sans-serif;
	text-transform: uppercase;
	line-height: 1.2;
	font-weight: normal;
}

.info-wrapper {
	padding: 0.5rem;
}

// Specifics

.button {
	text-align: center;
	justify-content: center;
	display: flex;
	padding: 1rem;
	text-decoration: none;
	border-radius: 8px;
	align-items: center;
	color: $yellow;
}

.button-primary {
	background-color: $dark-blue;
	color: $yellow;
}

.button-secondary {
	background-color: $yellow;
	color: $dark-blue;
}

// Map
.mapboxgl-map {
	min-height: 150px;
}

.marker {
	background-image: url('../assets/map-icon.png');
	background-size: cover;
	width: 29px;
	height: 37px;
	border-radius: 50%;
	cursor: pointer;
}

// Helpers
.display-flex {
	display: flex;
}

.display-none {
	display: none;
}

.margin-vertical-small {
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
}

.margin-vertical-medium {
	margin-top: 1rem;
	margin-bottom: 1rem;
}

.margin-bottom-medium {
	margin-bottom: 1rem;
}

.margin-bottom-small {
	margin-bottom: 0.5rem;
}

.margin-medium {
	margin: 1rem;
}

.padding-top-large {
	padding-top: 3rem;
}

.padding-medium {
	padding: 2rem !important;
}

.padding-small {
	padding: 1rem;
}

.info-pane {
	background-color: $red;
	color: $not-white;
	box-shadow: 0px 3px 6px rgb(0 0 0 / 30%);
	border-radius: 1rem;


	a {
		color: $not-white;

		&.button {
			color: $yellow;

			&:hover {
				color: $dark-blue;
			}
		}
	}

	@media screen and (max-width: 840px) {
		background-color: transparent;
		box-shadow: none;
		padding: 0 !important;
		justify-content: space-between !important;
	}
}

.rounded-borders {
	border-radius: 16px;
}

.full-width {
	width: 100%;
}

.full-size {
	width: 100%;
	height: 100%;
}

.text-center {
	text-align: center;
}

.space-between {
	justify-content: space-between;
}

.light-shadow {
	box-shadow: 0px 3px 6px rgb(0 0 0 / 30%);
}

.bg-white {
	background-color: white;
}

.bg-red {
	background-color: $red;
}

.small {
	font-size: 0.875rem;
}

.subtext {
	color: $red;
	font-weight: normal;
	font-style: italic;
}

.justify-start {
	justify-content: start !important;
}

.standard {
	width: 100%;
	height: auto;
}

// Forms
form {
	.form-message {
		display: none;

		h1 {
			font-size: 4rem;
		}
	}
}

input,
textarea {
	font-size: 1rem;
	font-family: 'Judson', serif;
}

.form-wrapper {
	padding: 4rem !important;
	text-align: left;

	@media screen and (max-width: 840px) {
		padding: 1rem !important;
	}
}

strong {
	font-weight: bold;
}

label,
legend {
	display: inline-block;
	font-weight: bold;
	margin-bottom: 0.25rem;
}

.form-control {
	display: block;
	// padding: 0.5rem;
	border-radius: 6px;
	border: 2px solid transparentize($dark-blue, 0.6);
	width: 100%;
	margin: 0.5rem 0;
	padding: 0.375rem 2.25rem 0.375rem 0.75rem;
}

.field-group {
	margin-bottom: 1rem;
}

.notice {
	padding: 0.5rem;
	border: dashed 1px transparentize($dark-blue, 0.6);
	border-radius: 6px;
	background: #ffffff42;
	font-style: italic;
}

textarea {
	font-family: 'Judson', serif;
	font-size: 1rem;
}

input::placeholder,
textarea::placeholder {
	color: transparentize($dark-blue, 0.6);
}

.success-image {
	width: 100%;
    height: auto;
}

form.success {
	.form-fields {
		display: none;
	}

	.form-message {
		display: block;
	}
}

.error {
	background-color: $red;
	border-color: $not-white;
	color: $not-white;
}