@use 'reset.scss';
@use 'fonts.scss';

// Colors
$dark-green:#052e1c;
$light-green:#61785e;
$dark-blue:#121c3e;
$light-blue:#536ce5;
$red:#bf3b15;
$yellow:#f3b421;
$peach:#f5bfaf;
$not-white:#fff1e2;

body {
	background-color: $not-white;
	color: $dark-blue;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.photo-background {
	background-image: url("../assets/photo-31.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	color: $peach;
}

a {
	color: $peach;
}

.logo {
	width: 150px;
	height: auto;
}

// Columns
.container {
	// display: flex;
	// flex-wrap: wrap;
	max-width: 80rem;
	margin: auto;
	padding-left: 1rem;
	padding-right: 1rem;
}

.row {
	// width: 100%;
	flex-direction: row;
    flex-wrap: wrap;
}

.row, .row > div[class*="col-"] {
	display: flex;
	flex: 0 auto;
	justify-content: center;
}

.col-centered {
	justify-content: center;       /* center flex items horizontally */
	align-items: center;           /* center single-line flex items vertically */
	align-content: center;         /* center multi-line flex items vertically */
}
.col-1 {
	width: 8.33%
}

.col-2 {
	width: 16.66%;
}

.col-3 {
	width: 25%;
}

.col-4 {
	width: 33.33%;
}

.col-5 {
	width: 41.66%
}

.col-6 {
	width: 50%;
}

.col-7 {
	width: 58.33%
}

.col-8 {
	width: 66.66%
}

.col-9 {
	width: 75%;
}

.col-10 {
	width: 83.33%;
}

.col-11 {
	width: 91.66%;
}

.col-12 {
	width: 100%;
}

// Mobile
@media screen and (max-width: 800px) {
	col-1, .col-2, .col-3, .col-4, .col-5, .col-6, col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
        width: 100%;
    }
}

// Desktop
@media screen and (max-width: 1000px) {
	
}

div[class*="col-"] {
	display: flex;
	flex-direction: column;
	padding: 0.5rem;
}

// Type
h1, h2, h3, h4, h5, h6 {
	font-family: "judson", "serif";
	font-size: 1.5rem;
	font-weight: bold;
	// color: $not-white;
}

.subtitle, .button {
	font-family: 'Boldfinger', sans-serif;
	text-transform: uppercase;
	line-height: 1.2;
	font-weight: normal;
	color: $peach;
}

// Specifics
.info-pane {
	position: absolute;
	bottom: 2rem;
	left: 0;
	right: 0;
}

.button {
	text-align: center;
	justify-content: center;
	display: flex;
	padding: 1rem;
	text-decoration: none;
	border-radius: 8px;
	align-items: center;
	height: 33%;
}

.button-primary {
	background-color: $dark-blue;
	color: $yellow;
}

.button-secondary {
	background-color: $yellow;
	color: $dark-blue;
}

// Map
.mapboxgl-map {
	min-height: 200px;
} 

.marker {
	background-image: url('../assets/map-icon.png');
	background-size: cover;
	width: 29px;
	height: 37px;
	border-radius: 50%;
	cursor: pointer;
}

// Helpers
.margin-vertical-small {
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
}

.margin-vertical-medium {
	margin-top: 1rem;
	margin-bottom: 1rem;
}

.margin-bottom-medium {
	margin-bottom: 1rem;
}

.padding-top-large {
	padding-top: 3rem;
}

.padding-medium {
	padding: 2rem;
}

.padding-small {
	padding: 1rem;
}

.red-background {
	background-color: $red;
}

.rounded-borders {
	border-radius: 16px;
}

.full-width {
	width: 100%;
}

.full-size {
	width: 100%;
	height: 100%;
}

.text-center {
	text-align: center;
}

.space-between {
	justify-content: space-between;
}

.light-shadow {
	box-shadow: 0px 3px 6px rgb(0 0 0 / 30%);

}.bg-white {
	background-color: white;
}
